# ML Inference
MACHINE_LEARNING_ENABLED=1
MACHINE_LEARNING_CACHE_FOLDER=/tmp/ml_models
MACHINE_LEARNING_EXECUTION_PROVIDER=
MACHINE_LEARNING_DEVICE_ID=0
ONNXRUNTIME_SHARED_LIBRARY_PATH=libonnxruntime.so

# HuggingFace (required for model downloads)
HUGGING_FACE_HUB_TOKEN=
